* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* turns 1 rem into 10px (because 100% is 16px by default); */
}

@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap";
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,400|Roboto+Condensed:300,700&display=swap";

$font-primary: "Roboto Condensed", sans-serif;
