* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* turns 1 rem into 10px (because 100% is 16px by default); */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$font-primary: "Poppins";
