body {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

.wrapper {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  display: grid;
  grid-template-columns: 25vw 1fr;
  grid-gap: 1rem;
  margin: 2rem;

  &__item--one {
    display: grid;

    & p {
      background-color: aliceblue;
      color: dodgerblue;
      margin: 2.5rem;
      padding: 1rem;
      border-radius: 10px;

      font: {
        size: 1.4rem;
        family: $font-primary;
      }

      &:hover {
        background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
      }
    }

    & img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;

      &:hover {
        transform: rotate(15deg);
      }
    }

    & h4 {
      background-color: aliceblue;
      color: dodgerblue;
      margin: 2.5rem;
      padding: 1rem;
      border-radius: 10px;

      font: {
        size: 2.7rem;
        family: $font-primary;
      }

      &:hover {
        background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
      }
    }

    & button {
      text-transform: none;
      max-width: 70%;
      height: auto;
      border-radius: 100px;
      background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
      border: none;
      color: cornflowerblue;
      padding: 1.5rem;
      overflow: hidden;
      cursor: pointer;
      outline: none;

      font: {
        family: $font-primary;
        size: 1.7rem;
      }

      &:hover {
        background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
      }

      & a {
        text-decoration-line: none;
        color: cornflowerblue;
      }

      &:active {
        border: none;
        transform: translateY(3px);
        background-image: linear-gradient(
          to right bottom,
          rgba(gold, 0.7),
          rgba(orange, 0.7)
        );
      }
    }

    & > * {
      background-color: rgba(30, 144, 255, 0.5);
      margin: 2rem;

      &:hover {
        animation: blueish 4s linear;
      }
    }

    @keyframes blueish {
      25% {
        background-color: rgba(127, 255, 212, 0.9); /* Aquamarine */
      }
      50% {
        background-color: rgba(255, 222, 173, 1); /* Navajo White */
      }
      75% {
        background-color: rgba(0, 255, 127, 0.8); /* Spring Green */
      }
      100% {
        background-color: rgba(0, 191, 255, 0.6); /* Deep Sky Blue */
      }
    }
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__item--two {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(5, 1fr);

    & > * {
      background-image: linear-gradient(
        to right bottom,
        rgba(dodgerblue, 0.5),
        rgba(skyblue, 0.5)
      );
      margin: 2rem;
      height: 25rem;

      &:hover {
        background-image: linear-gradient(
          to right bottom,
          rgba(dodgerblue, 0.8),
          rgba(skyblue, 0.8)
        );
        transform: rotate(3deg);
      }

      &:nth-of-type(odd) {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
          to right bottom,
          rgba(khaki, 0.5),
          rgba(gold, 0.5)
        );

        &:hover {
          transform: rotate(5deg);
          background-image: linear-gradient(
            to right bottom,
            rgba(khaki, 0.8),
            rgba(gold, 0.8)
          );
        }
      }

      & p {
        background-color: aliceblue;
        color: dodgerblue;
        margin: 2.5rem;
        padding: 1rem;
        border-radius: 10px;

        font: {
          size: 1.7rem;
          family: $font-primary;
        }

        &:hover {
          background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
        }

        &:active {
          transform: translateY(3px);
          background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        }

        a {
          text-decoration-line: none;
          color: cornflowerblue;
        }
      }

      & button {
        text-transform: none;
        max-width: 70%;
        height: auto;
        border-radius: 100px;
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        border: none;
        color: cornflowerblue;
        padding: 1.5rem;
        overflow: hidden;
        outline: none;
        cursor: pointer;

        font: {
          family: $font-primary;
          size: 1.7rem;
        }

        &:hover {
          background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
        }

        & a {
          text-decoration-line: none;
          color: cornflowerblue;
        }

        &:active {
          border: none;
          transform: translateY(3px);
          background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .wrapper__item--two {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
  }
}

@media only screen and (max-width: 842px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 95vh 1fr;
  }
}
